## COMP30760 Assignment 1 Task 1
### Student Name: Suman Kumar Shil
### Student ID: 18760791
In this task the climate data (specifically rainfall and temperature) are collected from https://datahelpdesk.worldbank.org/knowledgebase/articles/902061-climate-data-api.
The datasets of different countries and attributes are parsed and saved in csv format files.

In [9]:
# importing necessary libraries
import requests
import pandas as pd

### Climate Data collection from API

In [10]:
# Collecting climate attributes (temperature in degree C, rainfall in mm) for five countries (Australia, Great Britain,USA,IND,BRA)
c_codes = ['AUS','USA','GBR','IND','BRA']
atts = ['pr','tas']
# Saving collected raw datasets into CSV files
# loop for loading data for three countries AUS, USA, GBR, IND and BRA
for c in c_codes:
    # loop for loading temperature and precipitation values
    for a in atts:
        # API link to collect data
        rapi = requests.get('http://climatedataapi.worldbank.org/climateweb/rest/v1/country/cru/'+a+'/year/'+c+'.csv')
        data = rapi.text
        # writing the collected data in a csv file
        with open(c+'-'+a+'.csv', 'w') as wf:
            wf.write(data)

### Display of sample first 5 rows of collected datasets

In [3]:
# Displaying all datasets in successive DataFrames
for c in c_codes:
    for a in atts:
        print('Sample data for Country: %s, Attribute: %s' %(c,a))
        df = pd.read_csv(c+'-'+a+'.csv')
        print(df.head())

Sample data for Country: AUS, Attribute: pr
   year       data
0  1901  36.893700
1  1902  27.890614
2  1903  43.456768
3  1904  39.251026
4  1905  30.674429
Sample data for Country: AUS, Attribute: tas
   year       data
0  1901  21.357021
1  1902  21.382462
2  1903  20.936884
3  1904  20.791357
4  1905  20.954510
Sample data for Country: USA, Attribute: pr
   year       data
0  1901  53.452919
1  1902  56.929211
2  1903  54.475258
3  1904  51.814545
4  1905  57.633362
Sample data for Country: USA, Attribute: tas
   year      data
0  1901  6.618749
1  1902  6.464327
2  1903  6.073844
3  1904  6.149883
4  1905  6.599617
Sample data for Country: GBR, Attribute: pr
   year        data
0  1901   89.739784
1  1902   84.223152
2  1903  119.318466
3  1904   91.663483
4  1905   89.656570
Sample data for Country: GBR, Attribute: tas
   year      data
0  1901  8.163601
1  1902  7.798388
2  1903  8.028578
3  1904  8.073899
4  1905  8.185888
Sample data for Country: IND, Attribute: pr
   year       data
0  1901  78.794868
1  1902  84.403305
2  1903  91.743271
3  1904  80.097961
4  1905  78.166786
Sample data for Country: IND, Attribute: tas
   year       data
0  1901  23.736393
1  1902  23.920109
2  1903  23.434696
3  1904  23.456589
4  1905  23.266140
Sample data for Country: BRA, Attribute: pr
   year        data
0  1901  147.834610
1  1902  146.871475
2  1903  145.657379
3  1904  146.214066
4  1905  149.617096
Sample data for Country: BRA, Attribute: tas
   year       data
0  1901  24.896547
1  1902  25.091810
2  1903  24.896107
3  1904  24.527473
4  1905  24.840496